# ugc_interface
@import url(http://fonts.googleapis.com/css?family=Average+Sans);

body {
  background-image: url(http://fc05.deviantart.net/fs42/i/2009/121/5/9/Paper_Texture_01_by_TuxXtreme.jpg);
  font-family: 'Average Sans', sans-serif;
  color: #FFF;
}

#center {
   width: 300px;
   height: 250px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
  text-align: center;
}
#top {
  position: relative;
  width: 100%;
  height: 70px;

}
#orange {
  border-radius: 1px;
  position: relative;
  top: 25%;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background: #FA5D16;
}
#orange img {
  width: 40px;
}
#notification {
  position: relative;
  left: 155px;
  top: -30px;
  border-radius: 50%;
  border: 2px solid #FFF;
  width: 20px;
  height: 20px;
  background: #E93B19;
}
#bottom {
  position: relative;
  width: 100%;
  height: 150px;
}
#triangle-line {
  width: 100%;
  height: 20px;
}
#tri {
  position: relative;
  left: 140px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent rgba(121, 106, 77, 0.8) transparent;
}
#nots {
  line-height: 35px;
  width: 100%;
  height: 35px;
  background: rgba(121, 106, 77, 0.8);
  border-bottom: 1px solid rgba(89, 81, 68, 1);
}
#info {
  line-height: 55px;
  width: 100%;
  height: 55px;
  background: rgba(121, 106, 77, 0.8);
  border-bottom: 2px solid rgba(89, 81, 68, 1);
}
#feet {
  width: 100%;
  height: 35px;
  background: rgba(89, 81, 68, 0.9);
}
